<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/fontawesome/css/all.css" rel="stylesheet">
    <link href="../assets/css/bootstrap/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="../assets/js/chartjs/chart.umd.js"></script>
    <title>Hydrologie</title>
    <style>
        html, body {
            font-family: 'Arial', sans-serif;
        }
    </style>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="../index.html" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="./hydrologie.html" class="nav-link px-2 text-secondary">Hydrologie</a></li>
              <li><a href="./about.html" class="nav-link px-2 text-white">About</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
    
            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2">Login</button>
              <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
          </div>
        </div>
    </header>

    <div class="container">
        <h1 class="text-center alert alert-info"><i class="fa fa-home"></i> Calcul de pluviométrie en [mm]</h1> 
        <div class="d-flex flex-wrap align-items-center justify-content-between py-3">
            <div class="d-flex align-items-center col-md-6 mb-2 ml-2 mb-md-0 text-info text-decoration-none font-weight-bold">
                <i class="fa fa-info-circle"></i> &nbsp; Renseigner vos données pluviométiques
            </div>
            <div class="nav col-md-auto mb-2 justify-content-center mb-md-0">
                <a href="#" id="addInputPluviometric" class="btn btn-success" type="button">+</a> &nbsp;
                <a href="#" id="removeInputPluviometric" class="btn btn-danger" type="button">-</a>
            </div>
        </div>
        <div class="py-2">
            <form action="" method="post" class="text-center">
                <label class="" for="readonly">Prévisualisation d'une donnée saisie</label>
                <input type="text" class="w-100 text-center rounded" id="readonly" value="">
            </form>
        </div>

        <form id="calculPluviometric" method="post" action="">
            <input id="counter" type="hidden" name="" data-counter="0">
            <table class="table-striped text-center">
                <caption class="text-secondary text-center small">Tableau 1 : Donnée pluviométrique mensuelle en [mm]</caption>
                <thead>
                    <tr>
                        <th>Jan</th>
                        <th>Feb</th>
                        <th>Mars</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>Aug</th>
                        <th>Sep</th>
                        <th>Oct</th>
                        <th>Nov</th>
                        <th>Dec</th>
                    </tr>
                </thead>
                <tbody id="dataPluviometric">
                </tbody>
            </table>
            <div>  
                <input type="submit" value="Calculer" class="btn btn-primary form-control"/>
            </div>
        </form>
        <hr>
        <div class="d-none" id="result"></div>
        <div class="d-none alert alert-danger" id="error"></div>
    </div>
    
    <script src="../assets/js/Pluviometrie.js"></script>
    <script src="../assets/js/hydrologie.js"></script>
</body>
</html>